<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Afegir plataformes</h1>
<form action="" method="POST">
{% csrf_token %}

<hr>
<table>
<tr>
    <td>
       <label>Nom: </label>
        <input type="text" name="Nom">
    </td>
</tr>
<tr>
    <td>
        <hr>
        <input type="submit" value="afegir">
    </td>
</tr>

</table>
</form>



</body>
</html>
