<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="POST">
{% csrf_token %}

    <table>
        <h1>Associar usuaris amb plataformes</h1>
        <hr>
        <tr>
            <td>
            <label>Plataforma: </label>
                <select name="Plataforma">
                    {% for plataforma in plataformes %}
                        <option>{{ plataforma.Nom }}</option>
                    {% endfor %}
                </select>
            </td>

        </tr>
        <tr>
            <td>
            <label>Usuari: </label>
                <select name="Usuari">
                    {% for usuari in usuaris %}
                        <option>{{ usuari.Nom }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <hr>
                <input type="submit" value="associar">
            </td>
        </tr>
    </table>
</form>

</body>
</html>