<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Menu admin</h1>
<hr>
<table>
    <tr>
        <td>
            <form action="addVideojocs/" class="inline" >
                <button class="float-left submit-button" style="background-color: #9fff99; border-color: #9fff99; border-radius: 5px; text-decoration-color: white; padding: 5px">ADD GAME</button>
            </form>
        </td>
        <td>
            <form action="addPlataformes/" class="inline" >
                <button class="float-left submit-button" style="background-color: #9fff99; border-color: #9fff99; border-radius: 5px; text-decoration-color: white; padding: 5px">ADD PLATFORM</button>
            </form>
        </td>
        <td>
            <form action="plataformaRandom/" class="inline" >
                <button class="float-left submit-button" style="background-color: #9fff99; border-color: #9fff99; border-radius: 5px; text-decoration-color: white; padding: 5px">RANDOM PL.</button>
            </form>
        </td>
        <td>
            <form action="plataformaRandomNou/" class="inline" >
                <button class="float-left submit-button" style="background-color: #9fff99; border-color: #9fff99; border-radius: 5px; text-decoration-color: white; padding: 5px">RANDOM PL. (new games)</button>
            </form>
        </td>
        <td>
            <form action="plataformaUserView/" class="inline" >
                <button class="float-left submit-button" style="background-color: #9fff99; border-color: #9fff99; border-radius: 5px; text-decoration-color: white; padding: 5px">ASSOCIATE USER-PL.</button>
            </form>
        </td>
        <td>
            <form action="videojocUserView/" class="inline" >
                <button class="float-left submit-button" style="background-color: #9fff99; border-color: #9fff99; border-radius: 5px; text-decoration-color: white; padding: 5px">ASSOCIATE USER-GAME</button>
            </form>
        </td>
        <td>
            <form action="admin/" class="inline" >
                <button class="float-right submit-button" style="background-color: #76c0ff; border-color: #76c0ff; border-radius: 5px; text-decoration-color: white; padding: 5px">ADMIN MODE ON</button>
            </form>
        </td>
    </tr>
</table>
<hr>
<div style="text-align: center">
<table style="margin-left:auto;margin-right:auto;" >
    <td>
        <h3>Table Usuaris</h3>
        <table border="1" style="margin:0px 100px 20px 100px">
            <tr>
                <th>ID</th>
                <th>Username</th>
            </tr>

            {% for usuari in usuaris %}
                <tr>
                    <td>{{ usuari.id }}</td>
                    <td>{{ usuari.Nom }}</td>
                    <td>
                        <form action="userPlatformsView/{{ usuari.id }}" class="inline" method="GET">
                            {% csrf_token %}
                            <button class="float-right submit-button" style="background-color: #c5ff44; border-color: #c5ff44; border-radius: 5px; text-decoration-color: white; padding: 5px">All Pl.</button>
                        </form>
                    </td>
                    <td>
                        <form action="userPlatformView/{{ usuari.id }}" class="inline" method="GET">
                            {% csrf_token %}
                            <button class="float-right submit-button" style="background-color: #c5ff44; border-color: #c5ff44; border-radius: 5px; text-decoration-color: white; padding: 5px">Ran. Pl.</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </td>
    <td style="">
        <h3>Table Plataformes</h3>
        <table border="1" style="margin:0px 20px 20px 20px">
            <tr>
                <th>ID</th>
                <th>Nom Plataforma</th>
                <th>Data creació</th>
            </tr>

            {% for plataforma in plataformes %}
                <tr>
                    <td>{{ plataforma.id }}</td>
                    <td>{{ plataforma.Nom }}</td>
                    <td>{{ plataforma.Data }}</td>
                </tr>
            {% endfor %}
        </table>
    </td>
    <td>
        <h3>Table Videojocs</h3>
        <table border="1" style="margin:0px 100px 20px 100px">
            <tr>
                <th>ID</th>
                <th>Nom Videojoc</th>
                <th>Preu</th>
                <th>Nou</th>
                <th>Plataforma</th>
            </tr>

            {% for videojoc in videojocs %}
                <tr>
                    <td>{{ videojoc.id }}</td>
                    <td>{{ videojoc.Nom }}</td>
                    <td>{{ videojoc.Preu }}</td>
                    <td>{{ videojoc.Nou }}</td>
                    <td>{{ videojoc.Plataforma }}</td>
                </tr>
            {% endfor %}
        </table>
    </td>

    <td>
        <h3>Table Usuaris-Plataforma</h3>
        <table border="1" style="margin:0px 100px 20px 100px">
            <tr>
                <th>Usuari</th>
                <th>Plataforma</th>
            </tr>

            {% for usuariP in usuairsPlataformes %}
                <tr>
                    <td>{{ usuariP.Usuari }}</td>
                    <td>{{ usuariP.Plataforma }}</td>
                </tr>
            {% endfor %}
        </table>
    </td>
    <td>
        <h3>Table Usuaris-Videojocs</h3>
        <table border="1" style="margin:0px 100px 20px 100px">
            <tr>
                <th>Usuari</th>
                <th>Videojoc</th>
            </tr>

            {% for usuariV in usuarisVideojocs %}
                <tr>
                    <td>{{ usuariV.Usuari }}</td>
                    <td>{{ usuariV.Videojoc }}</td>
                    <td>
                        <form action="removeRelGameUser/{{ usuariV.id }}" class="inline" method="POST">
                            {% csrf_token %}
                            <button class="float-right submit-button" style="background-color: #ff7351; border-color: #ff7351; border-radius: 5px; text-decoration-color: white; padding: 5px">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </td>
</table>
<hr>
</div>
</body>
</html>