<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1" style="margin:0px 100px 20px 100px">
    <tr>
        <th>ID</th>
        <th>Nom Plataforma</th>
        <th>Data creació</th>
    </tr>

    {% for plataforma in plataformes %}
        <tr>
            <td>{{ plataforma.id }}</td>
            <td>{{ plataforma.Nom }}</td>
            <td>{{ plataforma.Data }}</td>
        </tr>
    {% endfor %}
</table>
</body>
</html>